# Random Files #
################
tmp_sof.Session
holiday.pro
GRB_Results.txt
Tests
old_functions.py

# Emacs Trash #
###############
*~
Support/#*
#The star does not seem to work so make section for Installation check.
pyFAT/Installation_Check/*


# Masks #
#########
*mask_inner.fits
*mask_outer.fits


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
src/*.o
gft/*.o
bin/tirific
bin/data.log
bin/eso121-g6_out_00.def
bin/eso121-g6_out_00.fits
qfits-6.2.0/Makefile
qfits-6.2.0/config.h
qfits-6.2.0/config.h.in
qfits-6.2.0/config.log
qfits-6.2.0/config.status
qfits-6.2.0/configure
qfits-6.2.0/doc/Doxyfile
qfits-6.2.0/html/annotated.html
qfits-6.2.0/html/classes.html
qfits-6.2.0/html/dir_000000.html
qfits-6.2.0/html/dirs.html
qfits-6.2.0/html/doxygen.css
qfits-6.2.0/html/doxygen.png
qfits-6.2.0/html/files.html
qfits-6.2.0/html/functions.html
qfits-6.2.0/html/functions_vars.html
qfits-6.2.0/html/globals.html
qfits-6.2.0/html/globals_enum.html
qfits-6.2.0/html/globals_eval.html
qfits-6.2.0/html/globals_func.html
qfits-6.2.0/html/globals_type.html
qfits-6.2.0/html/globals_vars.html
qfits-6.2.0/html/group__qfits__cache.html
qfits-6.2.0/html/group__qfits__filename.html
qfits-6.2.0/html/group__qfits__header.html
qfits-6.2.0/html/group__qfits__image.html
qfits-6.2.0/html/group__qfits__md5.html
qfits-6.2.0/html/group__qfits__memory.html
qfits-6.2.0/html/group__qfits__rw.html
qfits-6.2.0/html/group__qfits__table.html
qfits-6.2.0/html/group__qfits__time.html
qfits-6.2.0/html/group__qfits__tools.html
qfits-6.2.0/html/index.html
qfits-6.2.0/html/modules.html
qfits-6.2.0/html/qfits_8head.html
qfits-6.2.0/html/qfits__cache_8c.html
qfits-6.2.0/html/qfits__filename_8c.html
qfits-6.2.0/html/qfits__header_8c.html
qfits-6.2.0/html/qfits__image_8c.html
qfits-6.2.0/html/qfits__md5_8c.html
qfits-6.2.0/html/qfits__memory_8c.html
qfits-6.2.0/html/qfits__rw_8c.html
qfits-6.2.0/html/qfits__table_8c.html
qfits-6.2.0/html/qfits__time_8c.html
qfits-6.2.0/html/qfits__tools_8c.html
qfits-6.2.0/html/struct__keytuple__.html
qfits-6.2.0/html/struct__qfits__cache__cell__.html
qfits-6.2.0/libtool
qfits-6.2.0/main/Makefile
qfits-6.2.0/main/dfits
qfits-6.2.0/main/dfits.o
qfits-6.2.0/main/dtfits
qfits-6.2.0/main/dtfits.o
qfits-6.2.0/main/flipx
qfits-6.2.0/main/flipx.o
qfits-6.2.0/main/frameq
qfits-6.2.0/main/frameq.o
qfits-6.2.0/main/qextract
qfits-6.2.0/main/qextract.o
qfits-6.2.0/main/replacekey
qfits-6.2.0/main/replacekey.o
qfits-6.2.0/man/Makefile
qfits-6.2.0/qloc/bin/dfits
qfits-6.2.0/qloc/bin/dtfits
qfits-6.2.0/qloc/bin/fitsmd5
qfits-6.2.0/qloc/bin/fitsort
qfits-6.2.0/qloc/bin/flipx
qfits-6.2.0/qloc/bin/frameq
qfits-6.2.0/qloc/bin/hierarch28
qfits-6.2.0/qloc/bin/iofits
qfits-6.2.0/qloc/bin/qextract
qfits-6.2.0/qloc/bin/replacekey
qfits-6.2.0/qloc/bin/stripfits
qfits-6.2.0/qloc/include/qfits.h
qfits-6.2.0/qloc/include/qfits_cache.h
qfits-6.2.0/qloc/include/qfits_card.h
qfits-6.2.0/qloc/include/qfits_filename.h
qfits-6.2.0/qloc/include/qfits_header.h
qfits-6.2.0/qloc/include/qfits_image.h
qfits-6.2.0/qloc/include/qfits_md5.h
qfits-6.2.0/qloc/include/qfits_memory.h
qfits-6.2.0/qloc/include/qfits_rw.h
qfits-6.2.0/qloc/include/qfits_std.h
qfits-6.2.0/qloc/include/qfits_table.h
qfits-6.2.0/qloc/include/qfits_time.h
qfits-6.2.0/qloc/include/qfits_tools.h
qfits-6.2.0/qloc/lib/libqfits.a
qfits-6.2.0/qloc/lib/libqfits.la
qfits-6.2.0/qloc/man/man1/dfits.1
qfits-6.2.0/qloc/man/man1/dtfits.1
qfits-6.2.0/qloc/man/man1/fitsmd5.1
qfits-6.2.0/qloc/man/man1/fitsort.1
qfits-6.2.0/qloc/man/man1/flipx.1
qfits-6.2.0/qloc/man/man1/frameq.1
qfits-6.2.0/qloc/man/man1/hierarch28.1
qfits-6.2.0/qloc/man/man1/iofits.1
qfits-6.2.0/qloc/man/man1/qextract.1
qfits-6.2.0/qloc/man/man1/replacekey.1
qfits-6.2.0/saft/Makefile
qfits-6.2.0/saft/fitsmd5
qfits-6.2.0/saft/fitsmd5.o
qfits-6.2.0/saft/fitsort
qfits-6.2.0/saft/fitsort.o
qfits-6.2.0/saft/hierarch28
qfits-6.2.0/saft/hierarch28.o
qfits-6.2.0/saft/iofits
qfits-6.2.0/saft/iofits.o
qfits-6.2.0/saft/stripfits
qfits-6.2.0/saft/stripfits.o
qfits-6.2.0/src/.libs/libqfits.a
qfits-6.2.0/src/.libs/libqfits.la
qfits-6.2.0/src/.libs/libqfits.lai
qfits-6.2.0/src/Makefile
qfits-6.2.0/src/libqfits.la
qfits-6.2.0/src/md5.lo
qfits-6.2.0/src/md5.o
qfits-6.2.0/src/qfits_byteswap.lo
qfits-6.2.0/src/qfits_byteswap.o
qfits-6.2.0/src/qfits_cache.lo
qfits-6.2.0/src/qfits_cache.o
qfits-6.2.0/src/qfits_card.lo
qfits-6.2.0/src/qfits_card.o
qfits-6.2.0/src/qfits_error.lo
qfits-6.2.0/src/qfits_error.o
qfits-6.2.0/src/qfits_filename.lo
qfits-6.2.0/src/qfits_filename.o
qfits-6.2.0/src/qfits_float.lo
qfits-6.2.0/src/qfits_float.o
qfits-6.2.0/src/qfits_header.lo
qfits-6.2.0/src/qfits_header.o
qfits-6.2.0/src/qfits_image.lo
qfits-6.2.0/src/qfits_image.o
qfits-6.2.0/src/qfits_md5.lo
qfits-6.2.0/src/qfits_md5.o
qfits-6.2.0/src/qfits_memory.lo
qfits-6.2.0/src/qfits_memory.o
qfits-6.2.0/src/qfits_rw.lo
qfits-6.2.0/src/qfits_rw.o
qfits-6.2.0/src/qfits_table.lo
qfits-6.2.0/src/qfits_table.o
qfits-6.2.0/src/qfits_time.lo
qfits-6.2.0/src/qfits_time.o
qfits-6.2.0/src/qfits_tools.lo
qfits-6.2.0/src/qfits_tools.o
qfits-6.2.0/stamp-h1
qfits-6.2.0/test/Makefile

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
# ._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Unecessary Python #
#####################
*.pyc

# Installer junk #
##################
.eggs/
.idea/
pyFAT.egg-info/

# Backup files #
################
README.md~
Tests.py

# Images #
################
*.png

# Generated files #
################


# Folders #
###########
#docs/_static/
__pycache__

# microsoft visual studio project files
.vscode
# kdevelop project files
*.kdev4

*.orig

# databases
*_db

# virtualenvs
.venv*/
.virtualenv*/
#workspace
pyFAT-astro.code-workspace
pyFAT_astro.code-workspace